* {
    background:     #1E1E2E;
    background-alt: #313244;
    foreground:     #CDD6F4;
    selected:       #89B4FA;
    active:         #A6E3A1;
    urgent:         #F38BA8;
    border-color:   #45475A;
}
